Node_red/flows.json
[{"id":"e2c135ea.78e938","type":"tab","label":"HA with fibaro ","disabled":false,"info":""},{"id":"6b56d396.ecd2cc","type":"poll-state","z":"e2c135ea.78e938","name":"Basement","server":"2609b8d8.d2e238","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.hc_basement_ping","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":380,"wires":[["7687e5ac.23edbc"],["8e4cb41e.847948"]]},{"id":"31a20569.39791a","type":"poll-state","z":"e2c135ea.78e938","name":"First","server":"2609b8d8.d2e238","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.hc_first_ping","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":160,"wires":[["4f974ea1.951ba"],["24375905.38f676"]]},{"id":"b9713a48.49f338","type":"poll-state","z":"e2c135ea.78e938","name":"Ground","server":"2609b8d8.d2e238","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.hc_ground_ping","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":280,"wires":[["ecddc042.dcabb"],["4d84ecf4.86c394"]]},{"id":"9133b6ee.781338","type":"poll-state","z":"e2c135ea.78e938","name":"Roof","server":"2609b8d8.d2e238","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.hc_roof_ping","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":40,"wires":[["d51e363.e2ff6c8"],["57e9be9c.67ac4"]]},{"id":"d51e363.e2ff6c8","type":"template","z":"e2c135ea.78e938","name":"Roof","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":" \n  - url: http://192.168.1.33/api/  \n    username: aswar21.fibaro@gmail.com\n    password: Dcs502010-l ","output":"str","x":260,"y":40,"wires":[["58c1aaea.38f114"]]},{"id":"4f974ea1.951ba","type":"template","z":"e2c135ea.78e938","name":"First","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"  \n  - url: http://192.168.1.32/api/   \n    username: aswar21.fibaro@gmail.com\n    password: Dcs502010-l ","output":"str","x":290,"y":160,"wires":[["58c1aaea.38f114"]]},{"id":"ecddc042.dcabb","type":"template","z":"e2c135ea.78e938","name":"Ground","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"  \n  - url: http://192.168.1.31/api/  \n    username: aswar21.fibaro@gmail.com\n    password: Dcs502010-l ","output":"str","x":280,"y":280,"wires":[["58c1aaea.38f114"]]},{"id":"7687e5ac.23edbc","type":"template","z":"e2c135ea.78e938","name":"Basement","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"  \n  - url: http://192.168.1.30/api/  \n    username: aswar21.fibaro@gmail.com\n    password: Dcs502010-l ","output":"str","x":280,"y":380,"wires":[["58c1aaea.38f114"]]},{"id":"58c1aaea.38f114","type":"join","z":"e2c135ea.78e938","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":500,"y":200,"wires":[["b63f53e2.4b9fd"]]},{"id":"b63f53e2.4b9fd","type":"file","z":"e2c135ea.78e938","name":"","filename":"/config/fibaro.yaml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":690,"y":200,"wires":[["5b76ebf7.c94c94"]]},{"id":"5b76ebf7.c94c94","type":"debug","z":"e2c135ea.78e938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"57e9be9c.67ac4","type":"template","z":"e2c135ea.78e938","name":"Roof error","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"####roof problem#######","output":"str","x":270,"y":100,"wires":[["58c1aaea.38f114"]]},{"id":"24375905.38f676","type":"template","z":"e2c135ea.78e938","name":"first error","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"####first problem#######","output":"str","x":280,"y":220,"wires":[["58c1aaea.38f114"]]},{"id":"4d84ecf4.86c394","type":"template","z":"e2c135ea.78e938","name":"ground error","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"####ground problem#######","output":"str","x":290,"y":340,"wires":[["58c1aaea.38f114"]]},{"id":"8e4cb41e.847948","type":"template","z":"e2c135ea.78e938","name":"Basement error","field":"payload","fieldType":"msg","format":"yaml","syntax":"mustache","template":"####Basement problem#######","output":"str","x":300,"y":460,"wires":[["58c1aaea.38f114"]]},{"id":"2609b8d8.d2e238","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
